.custom-popover {
    --bs-popover-max-width: 150px;
    --bs-popover-border-color: var(--bs-warning);
    --bs-popover-header-bg: var(--bs-warning);
    --bs-popover-header-color: var(--bs-black);
    --bs-popover-border-radius: 20px;
  }