.header-img{
    height: 810px;
    background-image: url("../../resourses/圖片資源/home.png");
    background-image: cover;
    background-position:bottom center;
}
.header-text{
    color: #848871;
    position: absolute;
  }
.header-text-stroke{
    color: white;
    position: absolute;
    -webkit-text-stroke: 10px white;
  }

@media screen and (max-width: 576px) {
    .header-img{
        height: 920px;
        background-image: url("../../resourses/圖片資源/home_mobile.png");
        background-size: cover;
        background-position: top, center;
    }
    .header-text, .header-text-stroke{
        display: none;
    }
  }

