.card {
    border-radius: 20px;
}

.card-img{
    position: relative;  
}

.pet-img, .pet-img-hover {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pet-img-hover{
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: opacity .2s;
}

.card-img:hover .pet-img-hover {
    opacity: 1 !important;
}

.card-img:hover a{
    color: #ffc107 !important;
}

@media screen and (max-width: 992px) {
    .card {
        border-radius: 35px;
    }
    .pet-img, .pet-img-hover {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
}
